.logo {
	width: 35px;
	/* border: 1px solid #e3e3e3; */
	/* padding: 10px; */
	margin-right: 10px;
	border-radius: 15px;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
